<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplemobiletools.smsmessenger"
    android:installLocation="auto">

    <application tools:node="merge">

        <activity
            android:name="io.liberty.messenger.activities.AboutLibertyMessengerActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

    </application>
</manifest>
